/*This is the style sheet for the base.html*/


*
{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins', sans-serif;
}

/*Style for the footer copy right*/
.footer{
    text-align: center;
    transform:translateY(300px); 

}