<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>error | easy.e</title>
</head> 

<div class="page">
    <div class="error_div">
        <h1 class="error_404">404</h1>
        <h1 class="error_text">page not found</h1>
        <p class="error_smalltext">sorry, but the requested page is not found.</p>
        <div class="center">
            <a href="/home"
              ><button type="button" class="btn btn-primary btn-lg">Back</button></a
            >
          </div>
    </div>
</div>