<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Outfit&display=swap" rel="stylesheet">
    <title>error | easy.e</title>
</head> 

<div class="page">
    <div class="error_div">
        <h1 class="error_404">404</h1>
        <h1 class="error_text">page not found</h1>
        <p class="error_smalltext">sorry, but the requested page is not found.</p>
        <p class="error_smalltext">back to <a href="{{url_for('home')}}"><b>home</b></a></p> 
    </div>
</div>